.row {
    justify-content: center;
    margin-top: 20px;
}

img {
    height: 40px;
    width: 38px;
    margin-left: 50px;
}

.card {
    background-color: #ffffff9e;
    /* border: none; */
}

span {
    /* text-decoration: underline; */
    color: red;
}

.btn {
    margin-left: 180px;
    width: 119px;
}

.container {
    margin-top: -50px;
    margin-bottom: -6px;
}

footer {
    margin-top: 70px;
    width: 100%;
    height: 77px;
    background-color: var(--bs-gray-300);
}